.active {
  text-decoration: underline;
  cursor: pointer;
}

.inactive {
  text-decoration: none;
  cursor: pointer;
}

.ul {
  list-style: none;
  color: black;
}

.aside {
  padding: 1rem;
  line-height: 2rem;

}
