.main{
    padding: 4vw;
    color:black;
    display: flex;
    background-color: #FEFAF6;
}

.item{
    font-family: 'Europa';
    color: #553605;
    text-transform: uppercase;
    font-size: 17px;
    margin: 5px;
}

.hide-menu{
    display: flex;
}

.show-button{
    display: none;
}

@media (max-width: 800px) {
    .hide-menu{
        display: none;
    }
    .show-button{
        display: flex;
    }
    
}